# Gradle & Build Output
.gradle/
build/
*.apk
*.aab

# IDE Config (Android Studio/IntelliJ)
.idea/workspace.xml
.idea/tasks.xml
*.iml

# Local Settings
local.properties

# System Files
.DS_Store

.idea/
.kotlin/